.container {
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  > * {
    width: 100%;
  }
  header {
    height: 44px;
    ul {
      width: 100%;
      height: 100%;
      @include flexbox();
      background-color: $baseColor;
      li {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        height: 100%;
        &:nth-child(2) {
          @include flex(1);
        }
        &:not(:nth-child(2)) {
          width: 44px;
          font-size: 26px;
          color: #fff;
          opacity: 0.5;
        }
        span {
          width: 60px;
          height: 25px;
          background: gray;
          font-size: 14px;
          line-height: 25px;
          text-align: center;
          &:first-child {
            border-radius: 10px 0 0 10px;
          }
          &:last-child {
            border-radius: 0 10px 10px 0;
          }
          &.active {
            background-color: #64d985;
            color: #fff;
          }
          &:not(.active) {
            background-color: rgba(100, 217, 133, 0.5);
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
  nav {
    height: 35px;
    ul {
      width: 100%;
      height: 100%;
      @include flexbox();
      background: #fff;
      li {
        @include flex(1);
        border-bottom: solid 1px #d9d9d9;
        font-size: 14px;
        text-align: center;
        line-height: 35px;
        &.active {
          border-bottom: solid 2px $baseColor;
          color: $baseColor;
        }
      }
    }
  }
  > section {
    @include flex(1);
    overflow: hidden;
    width: 100%;
    .swiper-container {
      height: 100%;
      section {
        height: 100%;
        ul {
          @include flexbox();
          flex-wrap: wrap;
          align-content: flex-start;
          width: 100%;
          li {
            width: 50%;
            padding: 2px;
            &:nth-child(odd){
              padding: 5px 2.5px 0 0;
            }
            &:nth-child(even){
              padding: 5px 0 0 2.5px;
            }
            &:nth-last-child(1),
            &:nth-last-child(2) {
              padding-bottom: 4px;
            }
            span {
              width: 100%;
              display: block;
              i, b {
                background: #fff;
                display: block;
                font-weight: normal;
                font-size: 14px;
                img {
                  width: 100%;
                }
              }
              b {
                padding: 3px;
              }
            }
          }
        }
      }
    }
  }
  @extend %footer;
}
